

<div id="body">

  <div class="form-bg" id="body" style="background-color: coral;">
    <div class="container">
        <div class="row ">
            <div style="margin-left: 450px;" class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 ">
                <div class="form-container ">
                    <h3 class="title">Create Account</h3>

                    <ul class="social-links">
                        <li><a href=""><i class="fab fa-google"></i></a></li>
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    </ul>

                    <span class="description">or use you email for registration:</span>

                    <form class="form-horizontal">
                        <div class="form-group"  id="inp1" style="border: 1px solid black;">
                            <input  type="text" class="border form-control" placeholder="Name">
                        </div>
                        <div class="form-group " id="inp2"  style="border: 1px solid black;">
                            <input type="email" class="border form-control" placeholder="Email">
                        </div>
                        <div class="form-group"  id="inp3" style="border: 1px solid black;">
                            <input type="password" class=" border form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" class="checkbox">
                            <span class="check-label">I agree to the <a href="">Terms</a> and <a href="">Privacy Policy.</a></span>
                        </div>

                        <button class="btn signup">Sign up</button>
                        <button class="btn signin">Sign in</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
  </div>

</div>
